.home_header{
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */
    letter-spacing: 0.2px;

    /* Light / Black */
    color: #373F41;
}
.home_main{
    display: flex;

}
.home_ul{
    list-style-type: none;
    padding: 0;
}
.home_left{
    min-width: 300px;
}
.home_li{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: 0.2px;
    border-bottom: 3px solid white;
    /* Light / Black */
    color: #373F41;
}
.home_li:hover{
    border-bottom: 3px solid #A8BB84;
    border-radius: 1px;
}

.home_input{
    width: 379px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    margin-bottom: 32px;
    padding: 0px 32px;
    outline: none;
    border: none;
}
.home_button{
    margin-top: 40px;
    cursor: pointer;
    width: 379px;
    height: 48px;
    background: #B9C99D;
    border-radius: 24px;
    outline: none;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #312A19;
}
#remember{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #C4C4C4;
}

.home_middle{
    margin-top: 32px;
}

.rate{
    text-align: center;

}
.rate:first-letter{
    text-transform: capitalize;
}
